*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main.overlay_open {
    overflow: hidden;
}

main h1 {
    font-size: 2rem;
    margin: 1rem 1rem 2rem;
}

main .counters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
}

main table {
    border-spacing: 0;
}

main td {
    padding: 0.5em;
}

main tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

main tbody tr:hover {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

main tbody tr.selected {
    background-color: rgba(15, 87, 1, 0.4);
}

main .delete_link {
    color: black;
    width: 2em;
    height: 2em;
    font-weight: 700;
    display: flex;
}

main .delete_link:hover {
    color: darkred;
    cursor: not-allowed;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}

.overlay h3 {
    font-size: 1.25rem;
    margin-bottom: 0.25em;
}

.overlay h3>button {
    height: 1.25rem;
    padding: 0 0.5rem;
    vertical-align: middle;
}

.overlay section {
    background-color: #c4c4c4;
    border-radius: 6px;
    padding: 2rem;
    margin-bottom: 1rem;
}

.overlay form {
    margin-bottom: 1rem;
    display: flex;
}

@media(max-width: 650px) {
    .overlay form {
        flex-direction: column;
    }
}

.overlay form>div {
    flex: 1;
    border: 1px green dashed;
    border-radius: 3px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.overlay form input, .overlay form select, .overlay form button {
    padding: 0.5em 1em;
    border-radius: 3px;
}

.overlay form input, .overlay form select {
    border: none;
}

.overlay form input {
    padding-left: 1em;
}

.modal_close_btn {
    padding: 0.5em 1em;
    cursor: pointer;
}

.overlay .grid_table {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 12px;
    position: relative;
}

.overlay .grid_table.updating::after {
    content: 'Updating...';
    color: white;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay .grid_table>div {
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

.overlay .grid_table.edit_mode>div:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay .grid_table>div.assigned {
    border: 1px green dashed;
}