*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

img {
    max-width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

main h1 {
    font-size: 2rem;
    margin: 1rem 1rem 2rem;
}

.directory_view {
    padding: 1rem;
    background-color: #cecece;
    border-radius: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.directory_view .card {
    /*flex: 0 0 100px;*/
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.directory_view .card img {
    width: 80%;
}

.directory_view a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.directory_view a:hover {
    background-color: rgba(0,0,0,0.3);
}