* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

header {
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

main h1 {
    margin-bottom: 0.5em;
}

main form {
    background-color: darkslategray;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form div {
    font-size: 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

main form label {
    font-size: 1rem;
    font-weight: 700;
}

main form input {
    flex: 2;
    padding: 0.2em 0.2em;
}

main form label {
    flex: 1;
}

main form button {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 700;
}

main .result {
    background-color: darkgreen;
    padding: 1rem;
    border-radius: 0.2rem;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

main > div {
    border: 1px dashed black;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: aliceblue;
    margin-bottom: 1rem;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
}

main > div .result {
    background-color: rgb(94, 94, 94);
}

main .result div {
    font-weight: 700;
}