*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

img {
    max-width: 100%;
}

main {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

button, input {
    padding: 0.5em 0;
    border-radius: 6px;
    outline: none;
}

main h1 {
    font-size: 2rem;
    margin: 1rem 1rem 2rem;
}

main form {
    margin: 1em 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px dashed black;
    border-radius: 6px;
}

.delete_btn_wrapper {
    margin: 1em 0;
    padding: 1em;
    border: 1px dashed black;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.delete_btn_wrapper button {
    flex: 0 0 30%;
}

.breadcrumbs {
    margin-bottom: 0.5em;
    font-size: 16px;
    border: 1px dashed black;
    border-radius: 6px;
    padding: 0.4em;
}

.breadcrumbs a, span {
    display: inline-block;
    padding: 0.1em 0.2em;
    border-radius: 3px;
    text-decoration: none;
    color: darkgreen;
}

.breadcrumbs a:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.directory_view {
    padding: 1rem;
    background-color: #cecece;
    border-radius: 0.2rem;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.directory_view .card {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.directory_view .card img {
    width: 80%;
}

.directory_view a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
}

.directory_view a .mark {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}

.directory_view a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}